.container {
    max-width: 95%;
    margin: auto;
}

.appBar {
    top: 55px;
    background-color: rgb(50, 50, 50);
}

.toolbar {
    box-shadow: 0px 1px 5px black;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}